@tailwind base;
@tailwind components;
@tailwind utilities;

.contact{
    background-image: url("https://images.unsplash.com/photo-1513694203232-719a280e022f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home{
    background-image: url("https://images.unsplash.com/photo-1519642918688-7e43b19245d8?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
@media (max-width: 640px) { 
    .home{
        background-image: url("https://images.unsplash.com/photo-1519642918688-7e43b19245d8?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:left;
    }
}
.home h1{
    font-family: "Changa One", sans-serif;
    font-style: normal;
}

form input,
textarea{
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
}
.ourProcess{
    background-image: url("https://cdn.dribbble.com/userupload/13296193/file/original-ad24081945bd791f6de8ec341ba8c61f.png?resize=1024x1024");
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
.pic{
    box-shadow: 2px 2px 20px;
    transition: all 0.2s linear;
}
.pic:hover{
    box-shadow: 2px 2px 20px yellow;
    transform: scale(1.01);
}
.about{
    background-image: url("https://cdn.dribbble.com/users/13076974/screenshots/19584469/media/c065bc0a1249acd59f300d95aff1f61b.png?resize=800x600&vertical=center");
    background-size: cover;
    object-fit: cover;
    background-position: top;
}
.abpi{
    background-image: url("https://static.wixstatic.com/media/509ec8c0032f4af0a562907b58271d04.jpg/v1/fill/w_850,h_950,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/509ec8c0032f4af0a562907b58271d04.jpg");
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 2px 20px;
    transition: all 0.2s linear;
}
.abpi:hover{
    box-shadow: 2px 2px 20px red;
    transform: scale(1.01);
}
a.active{
    background-color: rgb(111, 107, 107);
    border-radius: 10px;
    padding: 10px;
}
#Services {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
.services{
  background-image: url("https://cdn.dribbble.com/userupload/4955609/file/original-80f74227c588a444ea3bdf6494de7339.jpg?resize=1200x675");
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.navbar{
  animation-name: navbar;
  animation-duration: 1.5s;
}
@keyframes navbar {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.heading{
  font-family:'Times New Roman', Times, serif !important; 
  color: #9e4767;
}