@tailwind base;
@tailwind components;
@tailwind utilities;

.contact{
    background-image: url("https://images.unsplash.com/photo-1513694203232-719a280e022f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home{
    background-image: url("https://images.unsplash.com/photo-1519642918688-7e43b19245d8?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.home h1{
    font-family: "Changa One", sans-serif;
    font-style: normal;
}

form input,
textarea{
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
}
.ourProcess{
    background-image: url("./2.png");
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
.pic{
    box-shadow: 2px 2px 20px;
    transition: all 0.2s linear;
}
.pic:hover{
    box-shadow: 2px 2px 20px yellow;
    transform: scale(1.01);
}
.about{
    background-image: url("https://cdn.dribbble.com/users/13076974/screenshots/19584469/media/c065bc0a1249acd59f300d95aff1f61b.png?resize=800x600&vertical=center");
    background-size: cover;
    object-fit: cover;
    background-position: top;
}
.abpi{
    background-image: url("https://static.wixstatic.com/media/509ec8c0032f4af0a562907b58271d04.jpg/v1/fill/w_850,h_950,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/509ec8c0032f4af0a562907b58271d04.jpg");
    background-size: cover;
    object-fit: cover;
    box-shadow: 2px 2px 20px;
    transition: all 0.2s linear;
}
.abpi:hover{
    box-shadow: 2px 2px 20px red;
    transform: scale(1.01);
}
a.active{
    color: blue;
    font-weight: 700;
}